# Challenge 2: Daten verknüpfen


### Aufgabe
Importiere die Bibliothek Pandas!

In [ ]:
import pandas as pd

### Aufgabe
Laden die entsprechenden CSV-Dateien in die DataFrames "stationsdaten" und "preisinformationen"

In [3]:
stationsdaten = pd.read_csv (r'../../daten/2022-06-11-stations.csv')
preisinformationen = pd.read_csv (r'../../daten/2022-06-11-prices.csv')

## Verknüpfen von DataFrames

Über die Funktion [merge](https://pandas.pydata.org/docs/reference/api/pandas.merge.html) können zwei DataFrames mit einerander Verknüpft werden. Man spricht dabei vom linken und vom rechten DatenFrame.
Dabei muss eine Spalte des Linken mit einer Spalte des Rechten verbunden werden. Wenn die Daten gleich sind werden diese Daten in einer Zeile des neu erzeugten DatenFrames verbunden.

Es gibt verschiedene Strategien, wie man Dinge verknüpft. Wir nutzen hier erst einmal nur das Verfahren "left".

**Beispiel** 
pd.merge(df1, df2, how="left", left_on = 'spalte_in_df1', right_on = 'spalte_in_df2')

### Aufgabe 

Verknüpfe die Stationsdaten über die Spalte "uuid" mit den Preisinformationen und der Spalte "station_uuid"!
Speichere diesen neuen DatenFrame mit dem Namen "bewegungsdaten" und zeige die Kopfdaten an!

In [4]:
bewegungsdaten = pd.merge(stationsdaten, preisinformationen, how="left", left_on = 'uuid', right_on = 'station_uuid')
bewegungsdaten.head()

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
0,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.1807,11.4609,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio...",2022-06-11 04:09:10+02,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,1.979,1.969,1.909,1.0,1.0,1.0
1,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.1807,11.4609,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio...",2022-06-11 05:57:09+02,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,2.009,1.999,1.939,1.0,1.0,1.0
2,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.1807,11.4609,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio...",2022-06-11 06:51:08+02,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,2.069,2.029,1.969,1.0,1.0,1.0
3,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.1807,11.4609,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio...",2022-06-11 07:21:08+02,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,2.029,2.009,1.949,1.0,1.0,1.0
4,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.1807,11.4609,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio...",2022-06-11 07:43:09+02,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,2.019,2.009,1.949,1.0,0.0,0.0

## Gruppieren
Mittel der Funktion [groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) können Werte geordnet werden. Hierbei wird ein neuer Index erzeugt, der das Gruppierungskriterium enthält.

**Beispiel**

bewegungsdaten.groupby(['post_code'])

Dies erzeugt einen neuen DataFrame in dem die Bewegungsdaten anhand der Postleitzahl geordnet sind.

### Aufgabe

Erzeuge einen DataFrame mit den Spalten 'city', 'brand', sowie den drei Kraftstoffen.
Gruppiere den neuen DataFrame anhand 'city' und 'brand' und bilde den Mittelwert.
Speichere das Endergebnis dieser Kette von Operationen unter dem Namen "mittelwerte" und gebe die Kopfdaten aus.

In [5]:
mittelwerte = bewegungsdaten[['city', 'brand', 'e5', 'e10', 'diesel']].groupby(['city', 'brand']).mean()
mittelwerte.head()

                                               e5       e10    diesel
city              brand
 Saalfeld         Marktkauf              1.925000  1.865000  1.973400
AACHEN            ESSO                   2.019928  1.959928  2.026732
                  JET                    2.006419  1.946419  2.007710
                  Supermarkt-Tankstelle  1.984200  1.924200  1.998600
AACHEN-RICHTERICH Supermarkt-Tankstelle  1.996727  1.936727  2.009909

## Filtern auf Indizes
Auf Indizes wird anders gefiltert, als auf Spalten.
Hierfür wird die Funktion [filter](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html) genutzt

**Beispiel**

df.filter(items = [index_wert1, index_wert2], axis=0)

### Aufgabe 

Filte den DataFrame "mittelwerte" und gebe Werte für OIL! Tankstellen in Hamburg und München aus.

Hinweis: Wir haben vorher anhand von zwei Spalten Gruppiert, somit haben wir hier einen als Tupel zusammengesetzen Index. Wir müssen also mit "(city, brand)" filtern.

Frage: Wo war es an dem Tag günstiger zu Tanken bei OIL! Tankstellen? Gilt dies auch für ARAL?

In [6]:
mittelwerte.filter(items = [('Hamburg', 'OIL!'), ('München', 'OIL!')], axis=0)

                     e5       e10    diesel
city    brand
Hamburg OIL!   1.991185  1.809315  2.016941
München OIL!   1.994000  1.934000  2.011692

## Sortieren
Man kann ein DatenFrame mit der Funktion [sort_values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) sortieren. 

** Beispiel **

df.sort_values(by=['spalte1' , 'spalte2])

### Aufgabe

Gebe für die Stadt Hamburg die drei günstigens und die drei teuersten Tankstellen aus!

TIPP: 

Schränke die Bewegungsdasten auf die Uuid und die drei Kraftstoffe ein. Gruppiere dann anhand der Uuid und bilde die Mittelwerte.
Merge dann diesen DataFrame mit den Stationsdaten anhand der Uuid. Filte das Ergebnis anhand der Stadt und sortiere die drei Kraftstoffe aufsteigend, bzw abstreigend.
Gib mit Head jeweils die drei Kopfdaten aus.

In [27]:
berechnung_mittelwerte = bewegungsdaten[['uuid', 'e5', 'e10', 'diesel']].groupby('uuid').mean()

ergebnis = pd.merge(stationsdaten, berechnung_mittelwerte, on=['uuid'])
guenstigsten = ergebnis[ergebnis.city == 'Hamburg'].sort_values(by=['e5', 'e10', 'diesel'], ascending=True)
teuersten = ergebnis[ergebnis.city == 'Hamburg'].sort_values(by=['e5', 'e10', 'diesel'], ascending=False)

guenstigsten.head(3)

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json,e5,e10,diesel
8297,042920a5-da84-4f87-ac40-7040245629a9,Merlin Waschstraßen u. Tankstellen GmbH,NORDOEL,Kurt A. Körber- Chaussee,52,21033,Hamburg,53.488987,10.194853,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":31,""period...",1.958630,1.900481,2.038630
10921,4e107a8d-8449-5853-bd25-247225202e98,Hamburg,Hoyer,Norderquerweg,15,21037,Hamburg,53.436066,10.190469,2014-03-18 16:45:31+01,{},1.959000,1.899000,2.005667
6935,93524d3e-2459-4702-aaee-ea4b96126c72,OIL! Tankstelle Hamburg,OIL!,Am Beckerkamp 21,NaN,21031,Hamburg,53.497300,10.209200,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":224,""perio...",1.961273,1.901273,2.035364

In [28]:
teuersten.head(3)

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json,e5,e10,diesel
7960,c8317587-beb3-4157-92cb-471857c2955a,Hamburg-Stillhorn Ost,ARAL,"BAB A1, Jakobsberg",9,21109,Hamburg,53.483925,10.026451,2014-03-18 16:45:31+01,{},2.321308,2.261308,2.311308
16068,4c98cdd1-b3e5-4442-933e-3b14c00b7973,Hamburg-Stillhorn West (BFT),BFT,"BAB A1, Altenfelder Weg",17,21109,Hamburg,53.484974,10.025441,2020-09-11 12:01:16+02,{},2.083000,2.023000,2.101800
4325,8257db70-aea6-42c1-a61e-98aa82b7b0f6,Shell Hamburg Bundesstr. 66,Shell,Bundesstr.,66,20144,Hamburg,53.569869,9.973582,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":255,""perio...",2.056083,1.996083,2.077333